<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thymeleaf3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<!-- 
		Thymeleaf에서는 특정한 범위에서만 유효한 지역변수를 th:with를 이용해서 선언할 수 있다.
	 -->
	<table border="1" th:with="target = 'u0001'">
		<tr>
			<td>MID</td>
			<td>MNAME</td>
			<td>REGDATE</td>
		</tr>
		
		<tr th:each="member : ${list}">
			<td th:text="${member.mid == target ? 'SECRET' : member.mid}"></td>
			<td th:text="${member.mname}"></td>
			<td th:text="${#dates.format(member.regdate, 'yyyy-mm-dd')}"></td>
		</tr>
	</table>
	
	<br>
	
	<!-- 삼항연산자를 이용하는 방법 외에 th:if ~ unless를 이용해서 if ~ else를 처리할 수 있다. -->
	<table border="1" th:with="target = 'u0001'">
		<tr>
			<td>MID</td>
			<td>MNAME</td>
			<td>REGDATE</td>
		</tr>
		
		<tr th:each="member : ${list}">
			<td th:if="${member.mid}">
			<a href="/modify" th:if="${member.mid == target}">Modify</a>
			<p th:unless="${member.mid == target}">View</p>
			</td>
			<td th:text="${member.mname}"></td>
			<td th:text="${#dates.format(member.regdate, 'yyyy-mm-dd')}"></td>
		</tr>
	</table>
</body>
</html>